.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 22%
    right: 89%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 67%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 12%
    right: 47%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)


.tema1
  .img-infografica__card
    .tarjeta.color-custom--borde
      background-color: #FFFFFF
      color: #000000
      border: 4px solid $color-acento-contenido
      .h5
        color: $color-acento-contenido
  .img-infografica__item
    width: 7%

.slyder-f__btn
  color: $color-primario

.tarjeta--azul2 
  background-color: #FFE8CE

.tarjeta.tarjeta--azul
  background-color: lighten($color-acento-contenido, 50%)

.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  background-color: #FFC403

.slyder-a__tipo-b
  color: #B20D0D

.img120
  max-width: 120px !important

.bgr
  background-color: #D9F8F2
  &_12
    background-color: #DEE4F0
    border-radius: 10px
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 
    transition: transform .3s ease-in-out

.h-100
  height: 100%!important

.cajon.color-acento-contenido 
  background-color: lighten($color-acento-contenido, 50%)

.cajon.color-secundario
  background-color: lighten($color-secundario, 60%)

.tarjeta.color-acento-contenido
  background-color: lighten($color-acento-contenido, 39%)

.tarjeta.color-acento-contenido2
  background-color: $color-acento-contenido

.acordion__titulo
  h3
    color: $color-primario

img.img-slider
  border-top-left-radius: 20px
  border-top-right-radius: 20px
  border-bottom: 5px solid $color-primario

.texto-negro
  color: #000000 !important

.img-infografica-b__modal
  background-color: $color-adicional-3

.img-infografica-b__modal__contenido div > *
  color: #000000 !important

.img-infografica-b__modal__btn-cerrar i
  color: $color-acento-contenido

.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: lighten($color-acento-botones, 40%)
  color: $black

.linea-tiempo-d__item--selected .linea-tiempo-d__item__content
  background-color: lighten($color-acento-botones, 40%)

.tarjeta--gris
  background-color: lighten($color-acento-contenido, 40%)

.tabs-a__tab
  background-color: lighten($color-primario, 55%) 

.tarjeta.tarjeta--azul.acordion__activo
  background-color: lighten($color-acento-contenido, 50%)

.acordion__accion__btn--a
  background-color: $color-acento-botones

.acordion__accion__btn--a i, .acordion__accion__btn--b i
  color: $color-primario

.tema4
  .tarjeta-avatar 
    height: 90%
    position: relative
    padding-top: 42px
    .tarjeta 
      padding-left: 1.2rem
      padding-right: 1.2rem
      p
        font-weight: bold
  .tarjeta.tarjeta--custom
    background-color: #A4F2F2
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px 2.0px

.anexo *
  color: #000

.anexo-custom
  background-color: #ABFFFF
  border-radius: 30px
  p
    color: #000000

  .anexo__icono 
    width: 50px
    position: absolute
    left: -35px
    top: 0
